#h1{
  background-color: blanchedalmond;
  border-radius: 5%;
  width: max-content;
  margin: 0;
}

p{
  margin: 0;
}
/* #inlength{
  text-align: center;
} */

.p_tag{
  background-color: gray;
  color: white;
  width: max-content;
  margin: 0;
  border-radius: 7%;
}